<%= form_with(model: @recommendation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <%= f.submit "Create recommendation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
