<div class="card mb-3">
  <h2 class="card-header h4">
    Negotiation #<%= negotiation.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Buyer</dt>
      <dd>
        <% if @negotiation.buyer.present? %>
          <%= link_to negotiation.buyer, negotiation.buyer %>
        <% end %>
      </dd>

      <dt>Seller</dt>
      <dd><%= negotiation.seller_id %></dd>

      <dt>Item</dt>
      <dd>
        <% if @negotiation.item.present? %>
          <%= link_to negotiation.item, negotiation.item %>
        <% end %>
      </dd>

      <dt>Completed</dt>
      <dd><%= negotiation.completed %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back negotiation, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_negotiation_url(negotiation), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to negotiation, method: :delete, data: { confirm: "Do you really want to delete this negotiation?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(negotiation.updated_at) %> ago
  </div>
</div>
