<% was_validated = negotiation.errors.any? %>

<%= form_with(model: negotiation, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% buyer_class = "form-control" %>
    <% buyer_was_invalid = negotiation.errors.include?(:buyer) %>

    <% if was_validated %>
      <% if buyer_was_invalid %>
        <% buyer_class << " is-invalid" %>
      <% else %>
        <% buyer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :buyer_id %>
    <%= f.collection_select :buyer_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if buyer_was_invalid %>
      <% negotiation.errors.full_messages_for(:buyer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% seller_class = "form-control" %>
    <% seller_was_invalid = negotiation.errors.include?(:seller) %>

    <% if was_validated %>
      <% if seller_was_invalid %>
        <% seller_class << " is-invalid" %>
      <% else %>
        <% seller_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :seller_id %>
    <%= f.number_field :seller_id, class: seller_class, placeholder: "Enter seller" %>
    <% if seller_was_invalid %>
      <% negotiation.errors.full_messages_for(:seller).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = negotiation.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
    <% if item_was_invalid %>
      <% negotiation.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-check">
    <% completed_class = "form-check-input" %>
    <% completed_was_invalid = negotiation.errors.include?(:completed) %>

    <% if was_validated %>
      <% if completed_was_invalid %>
        <% completed_class << " is-invalid" %>
      <% else %>
        <% completed_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :completed, class: "form-check-label" do %>
      <%= f.check_box :completed, class: completed_class %> Completed
    <% end %>
    <% if completed_was_invalid %>
      <% negotiation.errors.full_messages_for(:completed).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
